/*
    Final Project

   Form Style Sheet
   Author: Abigail Turner
   Date:   4/13/2020

   Filename:   dnd_form.css

*/
form{
	border: 2px solid black;
	padding: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

div {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 7px 0px;
	margin-top: 30px;
}

div > * {
	-webkit-flex: 1 1 150px;
	flex: 1 1 150px;
}


textarea {
	display: flex;
	margin-top: 10px;
	height: 150px;
	width: 95%;
}

div#yN fieldset{
	text-align: center;
	border: none;
}
div#yN fieldset input{
	margin-left: 20px;
	margin-right: 20px;
}


div#buttons {
	text-align: center;
	width:100%;
}

h1, legend, p{
	text-align: center;
}

input[type='submit'], input[type='reset'] {
	font-size: .8em;
	padding: 5px;
	margin: 15px;
}

input:focus, textarea:focus {
	background-color: rgb(127, 255, 160);
}