@charset "utf-8";

/*
  Final Project

   Finding Players Style Sheet
   Author: Abigail Turner
   Date:   4/20/2020

   Filename:   dnd_style4.css

*/

/*Image Styles*/

.container {
	position: relative;
}

.container h1{
	position: absolute;
	bottom: 5px;
	left: 10px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;

	text-shadow: black 2px 3px 10px;
}
img#knights{
	padding-top: 0px;
}

.container img{
	width: 100%;
	padding-top: 10px;
}